[Unit]
Description=DSign Screenshot Timer
Requires=screenshot.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=60s
AccuracySec=1s
Persistent=true
Unit=screenshot.service

[Install]
WantedBy=timers.target
